body {
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  text-align: right;
  size: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  color: rgb(250, 165, 54);
}
.freshorigins {
  height: 600px;
}
#gif {
  margin-left: 100px;
}
.links {
  margin-left: 30px;
}
.home {
  display: flex;
}
.clickables {
  margin-top: 50px;
  margin-left: 3px;
}
.animated_flower {
  width: 100px;
}
