body {
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  color: rgb(250, 165, 54);
}

.main_pic {
  height: 600px;
}

.gif {
  margin-left: 50%;
}

.links {
  margin-left: 4%;
}

.home {
  display: flex;
}

.clickables {
  margin-top: 20%;
  margin-left: 3px;
}
