<html>
  <head>
    <title>Guest book</title>
    <link rel="stylesheet" href="css/linkedPages.css" />
  </head>
  <body>
    <h2><a href="home.html"><<</a>Guest Book</h2>
    <h3>Leave a comment</h3>
    <form action="saveComment" method="POST">
      <p>Name:<input type="text" name="name" required /></p>
      <p>Comment:<textarea type="text" name="comment" required></textarea></p>
      <input type="submit" name="submit" />
    </form>
    <div class="commentBox">
      <h2>Comments</h2>
      __COMMENTS__
    </div>
  </body>
</html>
