<html>
  <head>
    <title>Guest book</title>
    <link rel="stylesheet" href="css/linkedPages.css" />
  </head>
  <body>
    <h1><a href="home.html"><<</a>Guest Book</h2>
    <h3>Leave a comment</h3>
    <form action="saveComment" method="POST">
      <p>
        Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="name" required />
      </p>
      <p>Comment:<textarea type="text" name="comment" required></textarea></p>
      <button>Submit</button>
    </form>
    <div class="commentsBox">
      <h3>Comments</h3>
      <table class="commentsTable">
        __COMMENTS__
      </table>
    </div>
  </body>
</html>
