<html>
  <head>
    <title>flower Catalog</title>
    <link rel="stylesheet" href="../public/css/flower.css" />
  </head>
  <body>
    <h2>Flower Catalog</h2>
    <div class="home">
      <div><img src="../public/images/freshorigins.jpg" class="main_pic"/></div>
      <div class="clickables">
        <div class="links">
          <li><a href="abeliophyllum.html">Abeliophyllum</a></li>
          <li><a href="ageratum.html">Ageratum</a></li>
        </div>
        <img class="gif" src="../public/images/animated-flower-image-0021.gif" />
          <a href="home.html">Guest book</a>
    </div>
  </body>
</html>